* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 75%;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(75, 75, 75);
    background-image: url(images/pomodoro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.App { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    color: rgb(149, 229, 169);
    text-transform: uppercase;
}

.boxTimerAndSessionAndBreak {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btnResetAndStart {
    display: flex;
    flex-direction: row-reverse;
}

.timer_infos {
    font-size: 20px;
    text-align: center;
}

.btnSessionBreak {
    text-align: center;
    display: flex;
    align-items: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer-label {
    margin: 20px;
}

#time-left {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.SessionAndBreakTime {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 11rem;
    height: 11rem;
    padding: 30px;
    text-transform: uppercase;
    font-size: 1.3rem;
    border: solid 2px pink;
    border-radius: 50%;
    background-color: rgb(248, 219, 224);
    position: relative;
    z-index: 2;
}

.btn_reset, .btn_start {
    background-color: rgb(148, 194, 242);
    border: none;
    border: 2px solid rgb(122, 177, 237);
    border-radius: 0.6rem;
    padding: 1rem 3.5rem;
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    outline: none;
    transition: 0.25s ease-in-out;
}

.btn_reset:hover, .btn_start:hover {
    background-color: rgb(204, 219, 223);
}

.btn_increment {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(148, 194, 242);
    border: none;
    border: 2px solid rgb(122, 177, 237);
    padding: 1rem;
    outline: none;
    transition: 0.25s ease-in-out;
    width: 6rem;
    height: 6rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: rgb(204, 219, 223);
    }
    font-size: 1.6rem;
}

#break-decrement, #session-decrement {
    position: relative;
    left: 2rem;
}

#break-increment, #session-increment {
    position: relative;
    right: 2rem;
}