* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 75%;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.App { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 6rem;
    color: rgb(212, 97, 30);
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgb(240, 170, 116);
}

.boxTimerAndSessionAndBreak {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.timer_infos {
    font-size: 20px;
    text-align: center;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    height: 330px;
    background-image: url(images/timer.png);
    background-size: 500px;
    background-position: center;
}

#timer-label {
    margin: 20px;
}

#time-left {
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
}

.btnSessionBreak {
    text-align: center;
    display: flex;
    align-items: center;
}

.SessionAndBreakTime {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 11rem;
    height: 11rem;
    padding: 30px;
    text-transform: uppercase;
    font-size: 1.8rem;
    border: 3px dotted rgb(165, 165, 165);
    border-radius: 50%;
    background-color: #464646;
    position: relative;
    z-index: 2;
}

.btn_increment {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    border-radius: 100%;
    background-color: rgb(124, 124, 124);
    border: none;
    border: 2px solid rgb(255, 206, 133);
    padding: 1rem;
    outline: none;
    transition: 0.25s ease-in-out;
    width: 6rem;
    height: 6rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: rgb(204, 219, 223);
        cursor: pointer;
    }
}

#break-decrement, #session-decrement {
    position: relative;
    left: 2rem;
}

#break-increment, #session-increment {
    position: relative;
    right: 2rem;
}

.btnResetAndStart {
    display: flex;
    flex-direction: row-reverse;
}

.btn_reset, .btn_start {
    background-color:#FE9A4A;
    border: none;
    border: 2px solid rgb(180, 79, 20);
    border-radius: 0.6rem;
    padding: 1rem 0;
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    outline: none;
    transition: 0.25s ease-in-out;
    width: 14rem;
}

.btn_reset:hover, .btn_start:hover {
    cursor: pointer;
    background-color: #E2662B;
    color: white;
}